.card-group-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 60%;
  max-width: 1200px;
}
.card-group__title {
  color: #ef3124;
  font-size: 110px;
  font-weight: 700;
  margin-bottom: 2%;
}
.card__item-qty {
  position: absolute;
  top: 3%;
  left: 5%;
  color: grey;
  font-size: 0.8rem;
  width: 20%;
}
.card__subtitle {
  padding-top: 2%;
  padding-bottom: 4%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  gap: 20px;
  flex: 1 1 auto;
}
@media (max-width: 1200px) {
  .card-group-container {
    max-width: 95%;
  }
}

@media (max-width: 992px) {
  .card-group__title {
    font-size: 75px;
    line-height: 70px;
  }
  .card-container {
    padding-top: 15px;
  }
}

@media (max-width: 600px) {
  .card-group__title {
    font-size: 42px;
    line-height: 36px;
  }
}
