.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--width-desktop);
  margin: 0 auto;
  padding: 0 var(--gap-s);
}
.product-block-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: var(--gap-2xs);
}

.product-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 45%;
  min-width: 400px;
  padding: var(--gap-s);
}
