.contacts-container {
  max-width: var(--width-desktop);
  margin: 0 auto;
  padding: 0 var(--gap-s);
}

.contacts-container__title {
  color: var(--color-light-text-primary);
  font-size: var(--h1-font-desktop);
  font-weight: var(--h1-font-bold);
}

.contacts-container__map-container {
  width: 60%;
  aspect-ratio: 4/3;
}

@media screen and (max-width: 1200px) {
  .contacts-container {
    max-width: 95%;
  }
}

@media screen and (max-width: 992px) {
  .contacts-container__title {
    font-size: var(--h1-font-tablet);
  }
  .contacts-container__map-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contacts-container__title {
    font-size: var(--h1-font-mobile);
  }
}
