@import-normalize; /* bring in normalize.css styles */
@import "@alfalab/core-components/vars";

:root {
  --h1-font-desktop: 110px;
  --h1-font-tablet: 75px;
  --h1-font-mobile: 42px;
  --line-height-tablet: 70px;
  --line-height-mobile: 36px;
  --h1-font-bold: 700;
  --width-desktop: 1200px;
  --width-tablet: 992px;
  --width-mobile: 600px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
